.feed {
    min-height: 100vh;
    padding-top: calc(112px + 72px);
    padding-bottom: 72px;
    background-color: $color-6;
    @include tablet {
        padding-bottom: 50px;
    }
    @include media($xsm) {
        padding-top: calc(112px + 50px);
    }

    &__privacy-switcher {
        display: flex;
        margin-bottom: 38px;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        line-height: (22/16);
        @include media(920px) {
            margin-bottom: 0;
        }
    }

    &__switch {
        padding: 0 30px;
    }

    &__list {
        @include tablet {
            justify-content: center;
        }
    }
}
