---
title: Home - Synth
description: Home description
pageName: homePage
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
<main>
    {% include 'sections/user-profile.twig' %}
</main>
{% endblock %}