<section class="user-profile">
    <div class="container">
        <h1>Hello, World!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nemo inventore iusto libero perspiciatis
            repudiandae cum, exercitationem tempor molestiae. Veniam ea error ipsa dolorum perspiciatis temporibus,
            libero
            modi laudantium hic.</p>
    </div>
</section>