.feed-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 374px);
    grid-gap: 24px;
    @include tablet {
        justify-content: center;
    }
    @include media($xsm) {
        grid-template-columns: repeat(auto-fill, minmax(100%, auto));
    }

    &__item {
        @include tablet {
            display: flex;
            justify-content: center;
        }
    }
}
