.feed-grid {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 350px 374px 374px;
    -ms-grid-columns: 350px 374px 374px;
    grid-gap: 24px;

    @media (max-width: 1440px) {
        justify-content: center;
        grid-template-columns: 374px 374px;
    }
    @include tablet {
        flex-direction: column;
        grid-gap: 0;
    }
    @include media(920px) {
        display: flex;
    }

    &__item {
        @include tablet {
            margin: 12px;
        }
        @include media(920px) {
            display: flex;
            justify-content: center;
        }

        &-1 {
            -ms-grid-column: 1;
            grid-column-start: 1;
            -ms-grid-column-span: 0;
            grid-column-end: 1;
            -ms-grid-row: 1;
            grid-row-start: 1;
            -ms-grid-row-span: 2;
            grid-row-end: 3;
            @include media(920px) {
                display: flex;
                justify-content: center;
            }
        }

        &-2 {
            -ms-grid-column: 2;
            grid-column-start: 2;
            -ms-grid-column-span: 2;
            grid-column-end: 4;
            -ms-grid-row: 1;
            grid-row-start: 1;
            -ms-grid-row-span: 0;
            grid-row-end: 1;
            @include media(920px) {
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }

        &-3 {
            -ms-grid-column: 2;
            grid-column-start: 2;
            -ms-grid-column-span: 0;
            grid-column-end: 2;
            -ms-grid-row: 2;
            grid-row-start: 2;
            -ms-grid-row-span: 0;
            grid-row-end: 2;
        }

        &-4 {
            -ms-grid-column: 3;
            grid-column-start: 3;
            -ms-grid-column-span: 0;
            grid-column-end: 3;
            -ms-grid-row: 2;
            grid-row-start: 2;
            -ms-grid-row-span: 0;
            grid-row-end: 2;
            @include media(1440px) {
                -ms-grid-column: 1;
                grid-column-start: 1;
                -ms-grid-column-span: 0;
                grid-column-end: 1;
                -ms-grid-row: 3;
                grid-row-start: 3;
                -ms-grid-row-span: 0;
                grid-row-end: 3;
            }
        }

        &-5 {
            -ms-grid-column: 2;
            grid-column-start: 2;
            -ms-grid-column-span: 0;
            grid-column-end: 2;
            -ms-grid-row: 3;
            grid-row-start: 3;
            -ms-grid-row-span: 0;
            grid-row-end: 3;
        }

        &-6 {
            -ms-grid-column: 3;
            grid-column-start: 3;
            -ms-grid-column-span: 0;
            grid-column-end: 3;
            -ms-grid-row: 3;
            grid-row-start: 3;
            -ms-grid-row-span: 0;
            grid-row-end: 3;
            @include media(1440px) {
                -ms-grid-column: 1;
                grid-column-start: 1;
                -ms-grid-column-span: 0;
                grid-column-end: 1;
                -ms-grid-row: 4;
                grid-row-start: 4;
                -ms-grid-row-span: 0;
                grid-row-end: 4;
            }
        }
    }
}
