.user-profile {
    display: flex;
    align-items: center;

    &__name {
        margin-right: 20px;
        font-size: 16px;
        line-height: (20/16);
        letter-spacing: -0.025em;
    }

    &__pic {
        margin-right: 16px;
        border-radius: 50%;
    }
}
